In [1]:
name = "Angela"
for letter in name:
    print(letter)
    print("*****")
type(name)

A
*****
n
*****
g
*****
e
*****
l
*****
a
*****

str

In [2]:
a = [1,2,3,4]
type(a)
for number in a:
    print(number)

1
2
3
4

In [3]:

for numbers in range(1,10):
    print(numbers)

1
2
3
4
5
6
7
8
9

In [4]:
for letters in "angela":
    print(letters.upper())

A
N
G
E
L
A

In [5]:
a = 0
while a < 10:
    a += 1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [10]:
for num in range(1,6):
    print(num) # The number will start print from 1 - 5 only

1
2
3
4
5

In [11]:
for num in range(10):
    print("Hello") #IT is going to print "Hello" 10x

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [28]:
for num in range(0,30,2):
    print(num) #Print all the even numbers from 0 - 30

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28